div.ui-input-text
{
width: 80%;
border-radius: 0px;
margin-left: 10px !important;

}
.points
{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: solid 2px #9d9fa2;
min-width: 70px;
text-align: right;
margin-top: 5px;
color: #b80941;
padding-right: 4px;

}

.ui-page { -webkit-backface-visibility: hidden; }
.pink
{
color: rgb(184, 9, 65) !important;
}

.more p
	{
	font-size: 18px !important;
	color: #9e9fa3 !important;font-style: italic
	
	}
		@font-face {
    font-family: 'futura';
    src: url('futura.ttf');
	}
 h1
	{
	font-family: futura ;
	}
	.marg
	{
	margin-bottom: 20px !important;
	margin-top: 20px !important;
	}
	
	.foot *. .foot2 *
	{
	color: #ededed;
	font-size: 18px !important;
	}
	
	.fixed_foot
	{
	position: fixed;
	bottom: 0px;
	width: 100%;
	}
 .foot
	{
	
	background: url(../img/footer.png) !important;
	background-size: 100% 100%  !important;
	height: 30px !important;
	}
	
	.foot2
	{
	
	background: url(../img/footer2.png) !important;
	background-size: 100% 100%  !important;
	height: 30px !important;
	}
	
	.like_modal
	{
	
	background: url(../img/like_modal.png);
	background-size: 100% 100%;
	height: 282px;
	background-color: none !important;
	width: 320px;
	}

		
		.tags
		{
		margin-top: 168px;
border: solid 2px #898989;
width: 220px;
margin-left: 20px
		}